/*! FullSlider */

.FullSlider {
  position: relative;
}

.FullSlider-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
  height: 26px;
  background-color: #fff;
  font-size: 1.2rem;
  border-radius: 100%;
  border: 1px solid #000;
}
.FullSlider-button--next {
  right: 25px;
}
.FullSlider-button--prev {
  left: 25px;
  .icon {
    transform: rotate(180deg);
  }
}

.FullSlider-slide {
  padding: 65px 20px 35px;
  text-align: center;
  background-size: cover;
}

.FullSlider-content {
  position: relative;
  max-width: 690px;
  margin: 35px auto;
  padding: 45px 15px;
  background-color: rgba(#fff, .8);
}

.FullSlider-flag {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;
  padding: 5px 15px;
  background-color: $color-red;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.FullSlider-cat {
  margin-bottom: 10px;
  color: $color-green;
  font-weight: 700;
  text-transform: uppercase;
}

.FullSlider-title {
  margin-bottom: 5px;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.FullSlider-subtitle {
  margin-bottom: 10px;
  font-size: .75rem;
}

.FullSlider-price {
  display: inline-block;
  padding: 7px 22px;
  color: #fff;
  background-color: $color-red;
  border-radius: 33px;
  font-weight: 700;
  font-size: .7rem;

  span {
    font-size: 1.5rem;
  }
}

.FullSlider-notice {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: #fff;
  font-size: .7rem;
}
