/*! NumberSelect */

.NumberSelect {
  display: flex;
  background-color: #fff;
}

.NumberSelect-button {
  min-width: 35px;
  padding: 13px;
  color: #fff;
  background-color: $color-green;
  font-size: 1.05rem;
  font-weight: 700;
}

.NumberSelect-content {
  min-width: 75px;
  padding: 7px 13px;
  text-align: center;
}

.NumberSelect-value {
  font-size: .9rem;
  font-weight: 700;
  width: 40px;
  text-align: center;
  border: none;
}

.NumberSelect-unit {
  font-size: .7rem;
}

