/*! FullDash */

.MainDashboard {
  background-color: #fff;
  padding: 40px 50px 40px 20px;
  min-height: calc(100vh - 140px);
  padding-top: 30px;
}

.MainDashboard-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 1.8rem;
}
